body #livereload-HMR
    position: fixed
    z-index: 9999
    top: 0
    left: 0
    .livereload-HMR-btn
        --color: #C3CFE0
        display: flex
        align-items: center
        min-height: 40px
        padding: 0 5px
        font-size: 10px
        border-radius: 5px
        background-color: rgba(0, 0, 0, .42)
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .6)
        cursor: pointer
        user-select: none
        color: var(--color) !important
        border: 1px solid var(--color) !important